:root {
    --text-color: black;
    --primary-color: #3860aa;
    --secondary-color: #fecb05;
    --header__font-weight: 700;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: 'Quicksand', sans-serif;
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-weight: var(--header__font-weight);
    margin: 0;
}

.page-header {
    margin-top: 77.5px;
}



.button {
    background-color: var(--secondary-color); /* Yellow */
    color: var(--text-color);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
}

.pokemon-list {
    align-content: center;
}

.btn-primary {
    align-self: center;
}

.modal-footer {
    align-self: center;
}


@media all and (max-width: 500px) {}

@media all and (min-width: 500px) and (max-width: 750px){}